h1 {
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 0.3em;
    font-size: 3em;
    font-weight: 900;
}

h2{
    margin-bottom: 1em;
}

ul{
    padding: 0;
}

#home-container {
    margin: 0 20vw;
}